<div class="container mt-5">
  <h2 class="text-center mb-4">Users</h2>
  <hr />
  <button
    class="btn btn-primary mb-3"
    (click)="openAddBrandModal(addBrandModal)"
  >
    Add User
  </button>
  <hr />
  <br />
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Full Name</th>
        <th>User Contact</th>
        <th>User CNIC</th>
        <th>Salary</th>
        <th>Gender</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let brand of brands">
        <td>{{ brand.id }}</td>
        <td>{{ brand.title }}</td>
        <td>{{ brand.name }}</td>
        <td>{{ brand.cnic }}</td>
        <td>{{ brand.salary }}</td>
        <td>{{ brand.gender }}</td>
        <td>{{ brand.contact }}</td>
        <td>
          <button
            class="btn btn-info btn-sm me-2"
            (click)="openEditBrandModal(editBrandModal, brand)"
          >
            Edit
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteBrand(brand)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<hr />
<ng-template #addBrandModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add User</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="brandName" class="form-label"> Title</label>
      <input
        type="text"
        class="form-control"
        id="brandName"
        [(ngModel)]="newBrand.title"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.name"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">User Contact</label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.contact"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">CNIC </label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.cnic"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">Salary</label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.salary"
      />
    </div>
    <div class="mb-3">
      <label for="brandGender" class="form-label">Gender</label>
      <select class="form-select" id="brandGender" [(ngModel)]="newBrand.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <!-- Add more options as needed -->
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('cancel')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #editBrandModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit User Data</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label for="brandName" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        id="brandName"
        [(ngModel)]="editedBrand.title"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">Full Name</label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="editedBrand.name"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">User Contact </label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.contact"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">CNIC</label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.cnic"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">Salary </label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.salary"
      />
    </div>
    <div class="mb-3">
      <label for="brandDescription" class="form-label">User Contact </label>
      <input
        type="text"
        class="form-control"
        id="brandDescription"
        [(ngModel)]="newBrand.contact"
      />
    </div>
    <div class="mb-3">
      <label for="brandGender" class="form-label">Gender</label>
      <select class="form-select" id="brandGender" [(ngModel)]="editedBrand.gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <!-- Add more options as needed -->
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      (click)="modal.dismiss('cancel')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
