<div class="container mt-5">
  <h2 class="text-center mb-4">Sale Return | SALEM24202819</h2>
  <!-- Added styling to center the text -->
  <hr>
  <div class="text-right">
    <i class="fas fa-print text-primary mx-2 icon-large" (click)="print()"></i>
    <i class="fas fa-save text-success mx-2 icon-large" (click)="save()"></i>
    <i class="fas fa-ban text-warning mx-2 icon-large" (click)="cancel()"></i>
  </div>


  <div class="col-xl-12 order">
    <!--begin::Table Widget 4-->
    <div class="card card-flush h-xl-100">
      <!--begin::Card header-->
      <div class="card-header pt-7">
        <!--begin::Title-->

        <!--end::Title-->
        <!--begin::Actions-->
        <div class="card-toolbar">
          <!--begin::Filters-->
          <div class="d-flex flex-stack flex-wrap gap-4">
            <!--begin::Destination-->
            <div class="d-flex align-items-center fw-bold">
              <!--begin::Label-->
              <div class="text-gray-500 fs-7 me-2">Select Branch</div>
              <!--end::Label-->
              <!--begin::Select-->
              <select
                class="form-select form-select-transparent text-graY-800 fs-base lh-1 fw-bold py-0 ps-3 w-auto"
                data-control="select2"
                data-hide-search="true"
                data-dropdown-css-class="w-150px"
                data-placeholder="Select an option"
              >
                <option></option>
                <option value="Show All" selected="selected">Show All</option>
                <option value="a">Brand A</option>
                <option value="b">Brand A</option>
              </select>
              <!--end::Select-->
            </div>

            <!--end::Destination-->
            <!--begin::Status-->

            <!--end::Status-->

            <!--end::Search-->
          </div>
          <!--begin::Filters-->
        </div>
        <!--end::Actions-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <br />
      <hr>
      <div class="card-body pt-2">
        <!--begin::Table-->
        <table
          class="table align-middle table-row-dashed fs-6 gy-3"
          id="kt_table_widget_4_table"
        >
          <!--begin::Table head-->
          <thead>
            <!--begin::Table row-->
            <tr
              class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0"
            >
              <th class="min-w-70px">No</th>
              <th class="text-end min-w-50px">Brand</th>
              <th class="text-end min-w-100px">Product</th>
              <th class="text-end min-w-50px">SoldQty</th>
              <th class="text-end min-w-50px">ReturnQty</th>
              <th class="text-end min-w-50px">Dis%</th>
              <th class="text-end">Total</th>
            </tr>
            <!--end::Table row-->
          </thead>
          <!--end::Table head-->
          <!--begin::Table body-->

          <!--end::Table body-->
        </table>
        <!--end::Table-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Table Widget 4-->
  </div>
  <hr />
  <div class="d-flex flex-stack bg-success rounded-3 p-6 mb-11">
    <!--begin::Content-->
    <div class="fs-6 fw-bold text-white">
      <span class="d-block mb-2">Total Sold</span>
      <span class="d-block mb-9">Current</span>
      <span class="d-block fs-2qx lh-1">Return :</span>
    </div>
    <!--end::Content-->
    <!--begin::Content-->
    <div class="fs-6 fw-bold text-white text-end">
      <span class="d-block mb-2" data-kt-pos-element="discount">-$8.00</span>
      <span class="d-block mb-9" data-kt-pos-element="tax">$11.20</span>
      <span class="d-block fs-2qx lh-1" data-kt-pos-element="grant-total"
        >Rs 93.46</span
      >
    </div>
    <!--end::Content-->
  </div>
